export(MissingDataGUI)
export(WatchMissingValues)
export(compute_missing_pct)
export(imputation)
export(scale_colour_discrete)
export(scale_fill_discrete)
import(cairoDevice)
import(gWidgetsRGtk2)
import(ggplot2)
importFrom(GGally,getPlot)
importFrom(GGally,ggpairs)
importFrom(GGally,ggparcoord)
importFrom(grDevices,dev.off)
importFrom(grDevices,png)
importFrom(grid,gpar)
importFrom(grid,grid.layout)
importFrom(grid,grid.newpage)
importFrom(grid,grid.rect)
importFrom(grid,grid.text)
importFrom(grid,popViewport)
importFrom(grid,pushViewport)
importFrom(grid,unit)
importFrom(grid,viewport)
importFrom(reshape,melt.data.frame)
importFrom(stats,as.formula)
importFrom(stats,complete.cases)
importFrom(stats,dist)
importFrom(stats,hclust)
importFrom(stats,median)
importFrom(stats,na.omit)
importFrom(stats,rnorm)
importFrom(stats,runif)
